---
import NButton from '../Landing/NButton.astro';

interface Props {
	shortText: string;
	longText: string[];
	demoUrl: string;
	demoButtonId: string;
}

const { shortText, longText, demoUrl, demoButtonId } = Astro.props;
---

<section class="uc-about">
	<div class="uc-about-text">
		<div class="uc-about-short">
			<p class="text">{shortText}</p>
			<div>
				<NButton id={demoButtonId} href={demoUrl} target="_blank">
					View live demo
				</NButton>
			</div>
		</div>
		<div class="uc-about-long">
			{longText.map((paragraph) => <p set:html={paragraph} />)}
		</div>
	</div>
</section>
