---
import ImageGallery from '../ImageGallery.astro';

interface Props {
	title: string;
	shortText: string;
	longText?: string[];
	schemeSrc: string;
	schemeAlt: string;
	schemeCaption?: string;
}

const { title, shortText, longText, schemeSrc, schemeAlt, schemeCaption } = Astro.props;
---

<section class="uc-solution-structure">
	<h2>{title}</h2>
	{
		(shortText || longText) && (
			<div class="uc-solution-text">
				{shortText && <p set:html={shortText} />}
				{longText?.map((p) => (
					<p set:html={p} />
				))}
			</div>
		)
	}
	<div class="uc-scheme">
		<ImageGallery images={[{ src: schemeSrc, alt: schemeAlt, caption: schemeCaption }]} />
	</div>
</section>

<style lang="scss" is:global>
	@use '../../styles/variables' as *;

	.uc-solution-structure {
		> h2 {
			@include section-title;
			color: $color-text-primary;
			margin: 0 0 $spacing-8;
		}
	}

	.uc-solution-text {
		display: flex;
		flex-direction: column;
		gap: $spacing-4;
		max-width: 928px;

		p {
			@include text-m;
			margin: 0;

			a {
				color: $color-primary;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.uc-scheme {
		margin: $spacing-12 0;
		text-align: center;

		img {
			max-width: 100%;
			height: auto;
		}
	}
</style>
