---
import SectionHeader from './SectionHeader.astro';
import AdvantagesCarousel from './AdvantagesCarousel.astro';
import { advantagesCards } from '@data/advantages.ts';

interface Props {
	title?: string;
	class?: string;
}

const { title = 'ThingsBoard advantages', class: className = '' } = Astro.props;
---

<section class:list={['advantages-section', className]}>
	<SectionHeader title={title} align="left" />
	<AdvantagesCarousel cards={advantagesCards} />
</section>

<style lang="scss">
	@use '../../styles/variables' as *;

	.advantages-section {
		margin: $spacing-20 0;

		@include media-down(md) {
			margin: $spacing-12 0;
		}
	}
</style>
