---
import SocialNetworks from './SocialNetworks.astro';
import NButton from './NButton.astro';
import SmartImage from '@components/SmartImage.astro';

const currentYear = new Date().getFullYear();
---

<footer>
	<div class="light-text main-div">
		<div class="newsletterSubsContainer">
			<div class="footer-top-section">
				<NButton id="Footer_SignUpForNews" class="subscribe gtm_button">
					Sign up for ThingsBoard news
				</NButton>
				<div
					id="mlb2-7341216"
					class="ml-subscribe-form ml-subscribe-form-7341216"
					style="display: none; max-width: 100%;"
				>
					<div class="ml-vertical-align-center">
						<div class="subscribe-form ml-block-success" style="display: none;">
							<div class="form-section">
								<p>Thank you for your interest in ThingsBoard!<br />Have a great day!</p>
							</div>
						</div>
						<form
							class="ml-block-form gtm_form"
							id="Footer_SignUpForNewsForm"
							action="https://static.mailerlite.com/webforms/submit/r9r9x7"
							data-id="708170"
							data-code="r9r9x7"
							method="POST"
							target="_blank"
						>
							<div class="subscribe-form horizontal">
								<div class="form-section horizontal">
									<div class="form-group ml-field-email ml-validate-required ml-validate-email">
										<input
											type="email"
											name="fields[email]"
											class="form-control"
											placeholder="Email address*"
											value=""
											autocomplete="email"
											x-autocompletetype="email"
											spellcheck="false"
											autocapitalize="off"
											autocorrect="off"
										/>
									</div>
								</div>
								<input type="hidden" name="ml-submit" value="1" />
								<div class="form-section horizontal ml-button-position">
									<NButton
										id="Footer_SignUpForNews_Subscribe"
										type="submit"
										class="primary subscribe gtm_button"
									>
										Subscribe
									</NButton>
									<NButton disabled class="loading" style="display: none;" />
								</div>
								<p>By subscribing you agree to receive newsletters from ThingsBoard, Inc.</p>
							</div>
						</form>
					</div>
				</div>
				<div class="footer-top-img-section">
					<SmartImage
						src="/src/assets/images/crozdesk-2.webp"
						alt="ThingsBoard achievement - Crozdesk Quality Choice Top-Ranked Solution 2025"
						height="80"
						width="80"
					/>
					<SmartImage
						src="/src/assets/images/crozdesk-1.webp"
						alt="ThingsBoard achievement - Crozdesk Trusted Vendor High Market Presence 2025"
						height="80"
						width="80"
					/>
					<SmartImage
						src="/src/assets/images/supplier-retail.webp"
						alt="ThingsBoard achievement - Top Supplier in Retail 2024"
						height="80"
						width="80"
					/>
				</div>
			</div>
		</div>

		<hr />

		<div class="deeper">
			<a href="/" class="footer-logo" aria-label="Link to homepage"></a>
			<nav>
				<a href="/docs/getting-started-guides/helloworld/">Get Started</a>
				<a href="/docs/">Documentation</a>
				<a href="/iot-use-cases/">Use cases</a>
				<a href="/blog/">Blog</a>
				<a href="/services/">Services</a>
				<a href="/docs/contact-us/">Contact us</a>
			</nav>
		</div>

		<div class="deepmost">
			<div class="copyright">&copy; {currentYear} The ThingsBoard Authors</div>
			<SocialNetworks />
		</div>
	</div>
</footer>

<script>
	const btn = document.getElementById('Footer_SignUpForNews');
	btn?.addEventListener('click', (event) => {
		event.stopPropagation();

		const script = document.createElement('script');
		script.setAttribute('type', 'text/javascript');
		script.setAttribute(
			'src',
			'https://static.mailerlite.com/js/w/webforms.min.js?v28bf44f740701752bfc6767bc7e171d4'
		);
		document.getElementsByTagName('head')[0].appendChild(script);

		btn.style.display = 'none';

		const form = document.getElementById('mlb2-7341216');
		if (form) {
			form.style.display = 'block';
		}
	});
</script>

<style lang="scss">
	footer {
		width: 100%;
		background-color: #0f161d;
		padding-left: 30px;
		padding-right: 30px;

		@media screen and (min-width: 1500px) {
			padding-left: 100px;
			padding-right: 100px;
		}

		.main-div {
			padding: 92px 0 78px;
			max-width: 1200px;
			margin: 0 auto;

			@media screen and (min-width: 1500px) {
				max-width: 1400px !important;
			}

			@media screen and (max-width: 768px) {
				padding: 60px 0 40px;
			}

			hr {
				border: none;
				border-top: 2px solid white;
				opacity: 0.1;
				margin-top: 54px;
			}

			.deeper {
				margin-bottom: 60px;
				display: flex;
				justify-content: space-between;

				@media screen and (max-width: 1024px) {
					justify-content: flex-end;

					.footer-logo {
						display: none;
					}
				}

				@media screen and (max-width: 768px) {
					justify-content: center;

					nav {
						display: block !important;

						a {
							width: 100%;
							text-align: center !important;
							margin: 18px 0 0 !important;
						}
					}
				}

				.footer-logo {
					background-image: url(https://img.thingsboard.io/thingsboard_logo_b.svg);
					filter: invert(100%) sepia(68%) saturate(0%) hue-rotate(350deg) brightness(113%)
						contrast(101%);
					width: 180px;
					height: 60px;
					background-size: contain;
					background-position: center center;
					background-repeat: no-repeat;
				}

				nav {
					display: flex;
					align-items: center;
					justify-content: right;

					a {
						text-align: right;
						display: inline-block;
						margin: 0 14px;
						font-size: 16px;
						color: white;
						transition: 300ms;

						&:hover {
							color: white;
						}

						&:last-child {
							margin-right: 0;
						}

						&:first-child {
							margin-left: 0;
						}
					}
				}
			}
		}

		.newsletterSubsContainer {
			height: 106px;
			width: 100%;
			display: flex;
			align-items: center;
			align-content: center;
			justify-content: left;

			@media screen and (max-width: 768px) {
				height: auto;
				justify-content: center;

				.primary.subscribe {
					height: unset;
					margin-top: 8px;
					width: 100%;
				}
			}

			.footer-top-section {
				display: flex;
				align-items: center;
				flex-wrap: wrap;
				justify-content: space-between;
				width: 100%;
				gap: 30px;

				@media (max-width: 655px) {
					justify-content: center;
				}

				.footer-top-img-section {
					display: flex;
					gap: 40px;
				}
			}

			.loading {
				margin: 0;
				height: 47px;
				padding: 0 18px;
			}

			.subscribe {
				margin: 0;
				height: fit-content;
				padding: 13px 20px;
				transition-duration: unset;

				&:hover {
					transition-duration: unset;
					box-shadow: unset;
					background-color: #4f97f8;
				}

				&:focus {
					outline: none;
				}
			}

			#mlb2-7341216 {
				.subscribe-form {
					background: none !important;
					border: none !important;
					padding: 0;
					width: 520px !important;

					@media (max-width: 768px) {
						width: 100% !important;
					}

					&.horizontal {
						padding-bottom: 0;
						display: flex;
						flex-wrap: wrap;
					}
				}

				.form-section {
					p {
						line-height: 150%;
						padding: 0 !important;
						margin: 0 0 10px 0;
					}

					&.mb10 {
						margin-bottom: 10px;
						float: left;
					}

					&.horizontal {
						float: left;
						margin-bottom: 10px;
						width: 70%;

						@media (max-width: 768px) {
							float: none;
							width: 100%;
							padding: 0;
						}

						&.ml-button-position {
							width: 30%;
							padding: 0;

							@media (max-width: 768px) {
								float: none;
								width: 100%;
								padding: 0;
								margin-bottom: 20px;

								.button {
									width: 100%;
								}
							}
						}

						.form-group {
							float: left;
							width: 100%;
							padding-right: 6px;
							box-sizing: border-box;
							margin: 0;

							@media (max-width: 768px) {
								padding: 0;
							}
						}
					}
				}
			}

			#mlb2-7341216.ml-subscribe-form {
				.form-group {
					&.ml-error {
						.form-control {
							border-color: red !important;
						}
					}

					.form-control {
						background-color: white !important;
						height: 47px;
						width: 100%;
						font-size: 18px;
						line-height: 16px;
						font-weight: 400;
						color: #212529;
						border: 1px solid #fff;
						transition: 0.3s;
						padding: 10px 15px;
						border-radius: 4px;

						&::-webkit-input-placeholder {
							color: #999 !important;
						}

						&::-moz-placeholder {
							color: #999 !important;
						}

						&:-ms-input-placeholder {
							color: #999 !important;
						}

						&:-moz-placeholder {
							color: #999 !important;
						}
					}
				}
			}

			p {
				color: #6d7175;
				font-weight: 400;
			}
		}

		.deepmost {
			display: flex;
			justify-content: space-between;

			@media screen and (max-width: 768px) {
				display: block;

				.copyright {
					text-align: center;
				}

				:global(.social) {
					justify-content: center;
					width: 100%;
					padding-top: 48px;
				}
			}

			.copyright {
				color: #847989;
				font-size: 14px;
			}
		}
	}
</style>
