---
import { Products } from '@models/site.models'
interface Props {
  platform?: Products;
}
const { platform = Products.CE } = Astro.props;
const GitHubProductInfo: Map<Products, {link: string, label: string}> = new Map([
    [Products.CE, {link: 'https://github.com/thingsboard/thingsboard', label: 'Star thingsboard/thingsboard on GitHub'}],
    [Products.GW, {link: 'https://github.com/thingsboard/thingsboard-gateway', label: 'Star thingsboard/thingsboard-gateway on GitHub'}],
    [Products.EDGE, {link: 'https://github.com/thingsboard/thingsboard-edge', label: 'Star thingsboard/thingsboard-edge on GitHub'}],
    [Products.EDGE_PE, {link: 'https://github.com/thingsboard/thingsboard-edge', label: 'Star thingsboard/thingsboard-edge on GitHub'}],
    [Products.TBMQ, {link: 'https://github.com/thingsboard/tbmq', label: 'Star thingsboard/tbmq on GitHub'}],
    [Products.TBMQ_PE, {link: 'https://github.com/thingsboard/tbmq', label: 'Star thingsboard/tbmq on GitHub'}],
]);
---

<div id="githubButtonContainer">
    <a class="github-button" href={GitHubProductInfo.get(platform)?.link} data-show-count="true" aria-label={GitHubProductInfo.get(platform)?.label}>
        Star
    </a>
</div>

<script is:inline async defer src="https://buttons.github.io/buttons.js"></script>

<style>
    #githubButtonContainer {
        display: none;
        width: 110px;
        position: relative;
        padding-left: 14px;
        float: left;
        height: 60px;
        align-items: center;
        align-content: center;
        span {
            height: 20px;
        }
    }
    @media screen and (min-width: 1120px) {
        #githubButtonContainer {
            display: inline-flex;
        }
    }
</style>