---
interface Props {
	/**
	 * Override title content
	 */
	title?: string;
	/**
	 * Override description content
	 */
	description?: string;
	/**
	 * Link in title
	 */
	titleLink?: {
		text: string;
		href: string;
	};
}

const {
	title,
	description,
	titleLink = { text: 'ThingsBoard', href: '/docs/pe/why-thingsboard/' },
} = Astro.props;
---

<section id="intro" class="intro-section">
	<div class="main-div">
		<h2 class="intro-section__title">
			<a class="heading-1" href={titleLink.href}>{titleLink.text}</a>
			{
				title ||
					' is an open-source IoT platform for data collection, processing, visualization, and device management'
			}
		</h2>
		<p class="intro-section__text">
			{
				description ||
					'It enables device connectivity via industry standard IoT protocols - MQTT, CoAP and HTTP and supports both cloud and on-premises deployments. ThingsBoard combines scalability, fault-tolerance and performance so you will never lose your data.'
			}
		</p>
		<slot />
	</div>
</section>

<style lang="scss">
	@use '../../styles/variables' as *;

	.intro-section {
		margin-bottom: 178px;
		padding-top: $spacing-20;

		@include media-down(md) {
			margin-bottom: 70px;
			padding-top: $spacing-12;
		}

		&__title {
			@include section-title;
			text-align: center;
			margin-bottom: $spacing-12;
			color: var(--color-text);

			@include media-down(md) {
				margin-bottom: $spacing-8;
			}
		}

		&__title a {
			color: #1a6fd4;
			text-decoration: none;
			transition: color 0.2s;
		}

		&__title a:hover {
			color: #1a6fd4;
			text-decoration: underline;
		}

		&__text {
			@include text-m;
			text-align: center;
			margin: $spacing-1 0 $spacing-4;
			margin-left: auto;
			margin-right: auto;
		}
	}
</style>
