---
import SmartImage from '@components/SmartImage.astro';
import ReadMoreLink from './ReadMoreLink.astro';
---

<section id="manage">
	<div class="main-div">
		<div id="features-top">
			<div class="background" aria-hidden="true">
				<div class="main1"></div>
				<div class="small1"></div>
				<div class="small2"></div>
				<div class="small3"></div>
				<div class="small4"></div>
			</div>
			<div class="block">
				<div class="feature-des">
					<h3 class="phrase-heading">Provision and manage devices and assets</h3>
					<p>
						Provision, monitor and control your IoT entities in secure way using rich server-side
						APIs. Define relations between your devices, assets, customers or any other entities.
					</p>
					<ReadMoreLink
						href="/docs/user-guide/digital-twins/entities/"
						text="Read more about entities and relations"
					/>
				</div>
				<div class="manage">
					<SmartImage
						class="device-list"
						src="/src/assets/images/landings/ce/device-list.svg"
						alt="Device list with checkboxes"
						width="626"
						height="335"
						loading="lazy"
					/>
					<SmartImage
						class="device-manage"
						src="/src/assets/images/landings/ce/device-manage.svg"
						alt="Device managing panel"
						width="543"
						height="509"
						loading="lazy"
					/>
				</div>
			</div>
			<div class="block vis">
				<div class="visualize">
					<SmartImage
						class="vis1"
						src="/src/assets/images/landings/ce/visualize1.svg"
						alt="Linear chart"
						width="668"
						height="263"
						loading="lazy"
					/>
					<SmartImage
						class="vis2"
						src="/src/assets/images/landings/ce/visualize2.svg"
						alt="Common chart with points"
						width="457"
						height="263"
						loading="lazy"
					/>
					<SmartImage
						class="vis3"
						src="/src/assets/images/landings/ce/visualize3.svg"
						alt="Digital level chart"
						width="197"
						height="263"
						loading="lazy"
					/>
				</div>
				<div class="feature-des">
					<h3 class="phrase-heading">Collect and visualize data</h3>
					<p>
						Collect and store telemetry data in scalable and fault-tolerant way. Visualize your data
						with built-in or custom widgets and flexible dashboards. Share dashboards with your
						customers.
					</p>
					<ReadMoreLink href="/iot-data-visualization/" text="Read more about visualization" />
				</div>
			</div>
		</div>
	</div>
</section>

<style lang="scss">
	@use '../../styles/variables' as *;

	p {
		color: var(--color-text);
	}

	#manage {
		:global(a.read-more-link) {
			color: #1a6fd4;
		}

		:global(a.read-more-link .arrow) {
			color: #1a6fd4;
		}
	}

	// Feature image styling
	#features-top img {
		border-radius: $radius-md;
		box-shadow: var(--shadow-lg);
	}

	// Two-column block layout
	.block {
		justify-content: space-between;
		display: flex;
		align-items: center;
		flex-direction: column;

		@include media-up(lg) {
			flex-direction: row;
		}

		.manage,
		.visualize {
			margin-top: $spacing-8;

			@include media-up(lg) {
				margin-top: 0;
			}
		}

		img,
		.manage,
		.visualize {
			order: 2;

			@include media-up(lg) {
				order: unset;
			}
		}

		.feature-des {
			order: 1;

			@include media-up(lg) {
				order: unset;
			}

			h2 {
				margin-top: $spacing-24;

				@include media-up(lg) {
					margin-top: 0;
				}
			}
		}

		.feature-des,
		img,
		.manage,
		.visualize {
			width: 100%;

			@include media-up(md) {
				width: 80%;
			}

			@include media-up(lg) {
				width: calc(50% - 80px);
			}
		}
	}

	.block.vis {
		margin: 80px 0 30px;

		@include media-down(md) {
			margin: 60px 0 30px;
		}
	}

	// Feature description spacing
	.feature-des {
		h3,
		.phrase-heading {
			margin-bottom: 0.25rem;
		}

		:global(.read-more-link) {
			margin-top: 1.125rem;
		}
	}

	// Device management visual
	.manage {
		position: relative;
		display: inline-block;

		.device-list {
			margin: 14% 0;
			width: 100%;
			display: block;
			border-radius: $radius-sm;
			box-shadow: var(--shadow-sm);
		}

		.device-manage {
			width: 87%;
			position: absolute;
			right: 0;
			top: 0;
		}
	}

	// Data visualization visual
	.visualize {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.vis1 {
			width: 100%;
			margin-bottom: 2%;
		}

		.vis2 {
			width: 68.5%;
		}

		.vis3 {
			width: 29.5%;
		}
	}

	// Decorative background
	.background {
		z-index: -1;
		position: absolute;
		top: 524px;
		left: 50%;

		div {
			position: absolute;
			transform: skewY(-6deg);
			width: 436px;
			height: 90px;
		}

		.main1 {
			top: -572px;
			width: 2560px;
			height: 525px;
			left: -1280px;
			background-color: var(--color-bg-light);
		}

		.small1 {
			top: -528px;
			right: 646px;
			background-color: $color-primary-dark;
		}

		.small2 {
			top: -590px;
			right: 408px;
			background-color: $color-primary;
		}

		.small3 {
			top: -715px;
			left: 789px;
			border: 4px solid $color-primary;
			background: transparent;
		}

		.small4 {
			top: 22px;
			right: 814px;
			border: 2px solid $color-primary-darker;
			background: transparent;
		}
	}
</style>