---
import SmartImage from '@components/SmartImage.astro';
import ReadMoreLink from './ReadMoreLink.astro';
---

<section id="manage">
	<div class="main-div">
		<div id="features-top">
			<div class="background">
				<div class="main1"></div>
				<div class="small1"></div>
				<div class="small2"></div>
				<div class="small3"></div>
				<div class="small4"></div>
			</div>
			<div class="block">
				<div class="feature-des">
					<h3 class="phrase-heading">Provision and manage devices and assets</h3>
					<p>
						Provision, monitor and control your IoT entities in secure way using rich server-side
						APIs. Define relations between your devices, assets, customers or any other entities.
					</p>
					<ReadMoreLink
						href="/docs/user-guide/entities-and-relations/"
						text="Read more about entities and relations"
					/>
				</div>
				<div class="manage">
					<SmartImage
						class="device-list"
						src="/src/assets/images/landings/ce/device-list.svg"
						alt="Device list with checkboxes"
						width="626"
						height="335"
						loading="lazy"
					/>
					<SmartImage
						class="device-manage"
						src="/src/assets/images/landings/ce/device-manage.svg"
						alt="Device managing panel"
						width="543"
						height="509"
						loading="lazy"
					/>
				</div>
			</div>
			<div class="block vis">
				<div class="visualize">
					<SmartImage
						class="vis1"
						src="/src/assets/images/landings/ce/visualize1.svg"
						alt="Linear chart"
						width="668"
						height="263"
						loading="lazy"
					/>
					<SmartImage
						class="vis2"
						src="/src/assets/images/landings/ce/visualize2.svg"
						alt="Common chart with points"
						width="457"
						height="263"
						loading="lazy"
					/>
					<SmartImage
						class="vis3"
						src="/src/assets/images/landings/ce/visualize3.svg"
						alt="Digital level chart"
						width="197"
						height="263"
						loading="lazy"
					/>
				</div>
				<div class="feature-des">
					<h3 class="phrase-heading">Collect and visualize data</h3>
					<p>
						Collect and store telemetry data in scalable and fault-tolerant way. Visualize your data
						with built-in or custom widgets and flexible dashboards. Share dashboards with your
						customers.
					</p>
					<ReadMoreLink href="/iot-data-visualization/" text="Read more about visualization" />
				</div>
			</div>
		</div>
	</div>
</section>