---
import SmartImage from '@components/SmartImage.astro';
import ReadMoreLink from './ReadMoreLink.astro';
---

<section id="react">
	<div class="main-div">
		<div id="features-top-2">
			<div class="background">
				<div class="main3"></div>
				<SmartImage
					src="/src/assets/images/landings/ce/grid.svg"
					alt="Grid background"
					loading="lazy"
					height=""
					width=""
				/>
				<div class="small5"></div>
				<div class="small6"></div>
			</div>
			<div class="block dark">
				<div class="process">
					<SmartImage
						class="react-img"
						src="/src/assets/images/landings/ce/react.svg"
						alt="Rule nodes chain"
						width="1031"
						height="230"
						loading="lazy"
					/>
					<SmartImage
						class="add-rule"
						src="/src/assets/images/landings/ce/add-rule.svg"
						alt="Add rule node example"
						width="626"
						height="482"
						loading="lazy"
					/>
				</div>
				<div class="feature-des">
					<h3 class="phrase-heading">Process and React</h3>
					<p>
						Define data processing rule chains. Transform and normalize your device data. Raise
						alarms on incoming telemetry events, attribute updates, device inactivity and user
						actions.
					</p>
					<ReadMoreLink
						href="/docs/user-guide/rule-engine-2-0/re-getting-started/"
						text="Read more about rule engine"
						variant="light"
					/>
				</div>
			</div>
			<div class="block micro">
				<div class="feature-des microservices">
					<h3 class="phrase-heading">Microservices</h3>
					<p>
						Construct your ThingsBoard cluster and get maximum scalability and fault-tolerance with
						microservices architecture. ThingsBoard also supports both cloud and on-premises
						deployments.
					</p>
					<ReadMoreLink href="/docs/reference/msa/" text="Read more about microservices" />
				</div>
				<SmartImage
					src="/src/assets/images/landings/ce/microservices.svg"
					alt="Microservices block schema"
					width="569"
					height="327"
					loading="lazy"
				/>
			</div>
		</div>
	</div>
</section>