---
import SmartImage from '@components/SmartImage.astro';
import ReadMoreLink from './ReadMoreLink.astro';
---

<section id="react">
	<div class="main-div">
		<div id="features-top-2">
			<div class="background" aria-hidden="true">
				<div class="main3"></div>
				<SmartImage
					src="/src/assets/images/landings/ce/grid.svg"
					alt="Grid background"
					loading="lazy"
					height=""
					width=""
				/>
				<div class="small5"></div>
				<div class="small6"></div>
			</div>
			<div class="block dark">
				<div class="process">
					<SmartImage
						class="react-img"
						src="/src/assets/images/landings/ce/react.svg"
						alt="Rule nodes chain"
						width="1031"
						height="230"
						loading="lazy"
					/>
					<SmartImage
						class="add-rule"
						src="/src/assets/images/landings/ce/add-rule.svg"
						alt="Add rule node example"
						width="626"
						height="482"
						loading="lazy"
					/>
				</div>
				<div class="feature-des">
					<h3 class="phrase-heading">Process and React</h3>
					<p>
						Define data processing rule chains. Transform and normalize your device data. Raise
						alarms on incoming telemetry events, attribute updates, device inactivity and user
						actions.
					</p>
					<ReadMoreLink
						href="/docs/pe/user-guide/rule-engine/"
						text="Read more about rule engine"
						variant="light"
					/>
				</div>
			</div>
			<div class="block micro">
				<div class="feature-des microservices">
					<h3 class="phrase-heading">Microservices</h3>
					<p>
						Construct your ThingsBoard cluster and get maximum scalability and fault-tolerance with
						microservices architecture. ThingsBoard also supports both cloud and on-premises
						deployments.
					</p>
					<ReadMoreLink href="/docs/pe/reference/architecture/microservices/" text="Read more about microservices" />
				</div>
				<SmartImage
					src="/src/assets/images/landings/ce/microservices.svg"
					alt="Microservices block schema"
					width="569"
					height="327"
					loading="lazy"
				/>
			</div>
		</div>
	</div>
</section>

<style lang="scss">
	@use '../../styles/variables' as *;

	.block.micro {
		:global(a.read-more-link) {
			color: #1a6fd4;
		}

		:global(a.read-more-link .arrow) {
			color: #1a6fd4;
		}

		p {
			color: var(--color-text);
		}

		h3,
		.phrase-heading {
			color: var(--color-text);
		}

		// On mobile the block sits over the dark background, so use white text for contrast
		@include media-down(lg) {
			h3,
			.phrase-heading {
				color: $color-white;
			}

			p {
				color: $color-text-disabled;
			}
		}
	}

	// Feature image styling
	#features-top-2 img {
		border-radius: $radius-md;
		box-shadow: var(--shadow-lg);
	}

	// Two-column block layout
	.block {
		justify-content: space-between;
		display: flex;
		align-items: center;
		flex-direction: column;

		@include media-up(lg) {
			flex-direction: row;
		}

		img,
		.process {
			order: 2;

			@include media-up(lg) {
				order: unset;
			}
		}

		.feature-des {
			order: 1;

			@include media-up(lg) {
				order: unset;
			}

			h2 {
				margin-top: $spacing-24;

				@include media-up(lg) {
					margin-top: 0;
				}
			}

			&.microservices h2 {
				@include media-down(md) {
					margin-top: 60px;
				}
			}
		}

		.feature-des,
		img,
		.process {
			width: 100%;

			@include media-up(md) {
				width: 80%;
			}

			@include media-up(lg) {
				width: calc(50% - 80px);
			}
		}
	}

	.block.dark {
		@include media-down(lg) {
			margin-bottom: 80px;
		}

		.feature-des {
			margin-bottom: 50px;

			@include media-down(lg) {
				margin-bottom: 68px;
			}

			h2,
			.phrase-heading {
				color: $color-white;
			}

			p {
				color: $color-text-disabled;
			}

			a {
				color: $color-white;

				img {
					filter: invert(98%) sepia(19%) saturate(109%) hue-rotate(232deg) brightness(115%)
						contrast(100%);
				}

				.icon {
					filter: sepia(19%) saturate(109%) hue-rotate(232deg) brightness(115%) contrast(100%);
				}
			}
		}
	}

	.block.micro {
		margin: 300px 0 $spacing-24 0;

		@include media-down(lg) {
			margin-top: 0;
		}

		img {
			box-shadow: unset !important;
			max-width: 569px;
		}

		.feature-des {
			margin-bottom: $spacing-5;
		}
	}

	// Feature description spacing
	.feature-des {
		h3,
		.phrase-heading {
			margin-bottom: 0.25rem;
		}

		:global(.read-more-link) {
			margin-top: 1.125rem;
		}
	}

	// Rule chain visual
	.process {
		position: relative;
		display: inline-block;

		.react-img {
			width: 167%;
			max-width: 1031px;
			border-radius: 0;
			position: absolute;
			box-shadow: none;
			z-index: -1;
			left: -95%;
			top: 316px;

			@include media-down(lg) {
				left: -76%;
				top: -55px;
			}
		}

		.add-rule {
			width: 100%;
		}
	}

	// Decorative background
	.background {
		z-index: -1;
		position: absolute;
		top: 524px;
		left: 50%;

		img {
			position: absolute;
			top: -410px;
			left: -888px;
			box-shadow: none !important;
		}

		div {
			position: absolute;
			transform: skewY(-6deg);
			width: 436px;
			height: 90px;
		}

		.main3 {
			top: -641px;
			width: 2560px;
			height: 665px;
			left: -1280px;
			background-color: $color-dark-alt;

			@include media-down(2xl) {
				top: -576px;
				height: 550px;
			}
		}

		.small5 {
			top: -779px;
			left: 867px;
			border: 4px solid $color-primary-dark;
			background: transparent;
		}

		.small6 {
			top: 98px;
			right: 830px;
			border: 4px solid $color-primary-dark;
			background: transparent;
		}
	}
</style>
