---
import { Icon } from 'astro-icon/components';
import GifVideo from '@components/GifVideo.astro';
import ReadMoreLink from './ReadMoreLink.astro';
---

<section id="rule-engine">
	<div class="main-div">
		<div class="rule">
			<a class="rule-button img-button" href="/docs/user-guide/rule-engine-2-0/re-getting-started/">
				<div class="overlay">
					<div class="eye">
						<Icon name="tabler:eye" class="icon" />
						See more about IoT Rule Engine
					</div>
				</div>
				<GifVideo
					height="375"
					width="890"
					srcMp4="/videos/send-email-rule-chain.mp4"
					srcWebm="/videos/send-email-rule-chain.webm"
				/>
			</a>
			<div class="feature-des des">
				<h3>IoT Rule Engine</h3>
				<p>
					ThingsBoard allows you to create complex <a
						href="/docs/user-guide/rule-engine-2-0/re-getting-started/">Rule Chains</a
					> to process data from your devices and match your application specific use cases.
				</p>
				<ReadMoreLink
					href="/docs/user-guide/rule-engine-2-0/re-getting-started/"
					text="Read more about rule engine"
				/>
			</div>
		</div>
	</div>
</section>
