---
interface Props {
	/**
	 * Section title
	 */
	title: string;
	/**
	 * Optional subtitle/description
	 */
	subtitle?: string;
	/**
	 * Text alignment
	 */
	align?: 'left' | 'center' | 'right';
	/**
	 * Color theme
	 */
	theme?: 'light' | 'dark';
	class?: string;
}

const { title, subtitle, align = 'center', theme = 'light', class: className = '' } = Astro.props;
---

<div
	class:list={['section-header', `section-header--${align}`, `section-header--${theme}`, className]}
>
	<h2 class="section-header__title">{title}</h2>
	{subtitle && <p class="section-header__subtitle">{subtitle}</p>}
	<slot />
</div>

<style lang="scss">
	@use '../../styles/variables' as *;

	.section-header {
		margin-bottom: $spacing-12;

		&--center {
			text-align: center;

			.section-header__subtitle {
				margin-left: auto;
				margin-right: auto;
			}
		}

		&--left {
			text-align: left;
		}

		&--right {
			text-align: right;

			.section-header__subtitle {
				margin-left: auto;
			}
		}

		&__title {
			@include section-title;
			margin-bottom: $spacing-5;
			color: $color-text-primary;
		}

		&__subtitle {
			@include text-m;
			max-width: 900px;
			margin: 0;
		}

		// Dark theme
		&--dark {
			.section-header__title {
				color: $color-white;
			}

			.section-header__subtitle {
				color: $color-text-disabled;
			}
		}
	}
</style>
