---
import { socialNetworks } from '@data/socialNetworks';
import { Icon } from 'astro-icon/components';
import SmartImage from '@components/SmartImage.astro';
---

<div class="social">
	{
		socialNetworks.map((network) => (
			<a
				href={network.href}
				aria-label={network.ariaLabel}
				class={(network.iconClass || network.icon) ?? ''}
			>
				{network.icon ? (
					<Icon name={network.icon} size="20" />
				) : (
					<SmartImage
						src={network.src as string}
						alt={network.ariaLabel}
						width="18"
						height="18"
						loading="lazy"
					/>
				)}
			</a>
		))
	}
</div>

<style lang="scss">
	.social {
		width: fit-content;
		display: flex;
		align-items: center;
		text-align: right;
		a {
			width: 20px;
			height: 20px;
			display: inline-block;
			margin-left: 16px;
			color: var(--sn-color, #847989);
			&:hover {
				color: var(--sn-color, #847989);
				filter: brightness(200%);
			}
		}
	}
</style>
