---
import { jobs } from '../../data/careers/jobs';
---

<div class="jobs-section">
	<h1>Careers</h1>
	<h2>We welcome smart and communicable individuals to join our team in the Kyiv office.</h2>
	<hr>
	<div class="cars-grid">
		{jobs.map((job) => (
			<a class="cars-box" href={`/careers/${job.slug}/`}>
				<div>
					<h3>{job.position}</h3>
					<h5>{job.tag}</h5>
				</div>
				<h5 class="second-priority">{job.location}</h5>
			</a>
		))}
	</div>
</div>

<style lang="scss">
	.jobs-section {
		h1,
		h2 {
			color: #212529;
			font-weight: 300;
			font-size: 32px;
			line-height: 52px;
			margin: 0;
		}

		hr {
			border: none;
			border-top: 1px solid rgba(33, 37, 41, 0.1);
			margin-top: 54px;
			margin-bottom: 0;
		}

		h3 {
			color: #212529;
			font-weight: 600;
			font-size: 24px;
			line-height: 28px;
			margin-bottom: 2px;
		}

		h5 {
			color: #212529;
			font-weight: normal;
			font-size: 18px;
			line-height: 30px;
			margin-bottom: 0;
		}
	}

	.cars-grid {
		margin: 46px 0 92px;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		column-gap: 46px;
		row-gap: 46px;

		@media (max-width: 1280px) {
			grid-template-columns: repeat(2, 1fr);
			column-gap: 24px;
			row-gap: 24px;
		}

		@media (max-width: 750px) {
			grid-template-columns: 1fr;
			column-gap: 12px;
			row-gap: 12px;
		}
	}

	.cars-box {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		background-color: #f5f7f9;
		border-radius: 3px;
		padding: 24px 30px;
		height: 160px;
		text-decoration: none;

		div {
			flex: 1;
		}

		&:nth-child(4n-1),
		&:nth-child(4n) {
			background-color: #fff;
			border: 6px solid #f5f7f9;
			padding: 18px 30px 24px 24px;
		}

		&:hover {
			text-decoration: none;
			background-color: #fff;
			box-shadow: 0 0 0 6px #2a7dec, 0 0 4px 0 rgba(0, 0, 0, 0.15),
				0 10px 20px 0 rgba(0, 0, 0, 0.15);
			padding: 24px 30px;
			border: none;
		}
	}

	.second-priority {
		opacity: 0.6;
	}
</style>