---
import FeatureCard from '@components/Landing/FeatureCard.astro';
import SectionHeader from '@components/Landing/SectionHeader.astro';

const features = [
	{
		icon: '/src/assets/images/landings/mqtt-broker/client-type.svg',
		title: 'MQTT client type management',
		href: '/docs/mqtt-broker/user-guide/mqtt-client-type/',
		description:
			'Supports two distinct client types to provide customized messaging solutions for diverse IoT scenarios. One type efficiently handles frequent data transmissions and effectively manages incoming moderate message volumes (fan-out and p2p). The other specializes in high-rate topic subscriptions, perfect for data analytics and processing (fan-in).',
	},
	{
		icon: '/src/assets/images/landings/mqtt-broker/load-balancing.svg',
		title: 'MQTT client Load Balancing',
		href: '/docs/mqtt-broker/user-guide/shared-subscriptions/',
		description:
			'Delivers an advanced solution for the even distribution of messages among multiple MQTT clients through a fault-tolerant, distributed message processing platform. Ensures no single client becomes overwhelmed, resulting in optimized resource utilization.',
	},
	{
		icon: '/src/assets/images/landings/mqtt-broker/security.svg',
		title: 'MQTT security for data protection',
		href: '/docs/mqtt-broker/security/overview/',
		description:
			'Ensure secure communication with transport encryption for both MQTT and MQTT over WebSocket. Supports Basic, JWT, SCRAM, and X.509 Certificate Chain authentications.',
	},
	{
		icon: '/src/assets/images/landings/mqtt-broker/ws.svg',
		title: 'MQTT over WebSocket connectivity',
		href: '/docs/mqtt-broker/user-guide/mqtt-over-ws/',
		description:
			'Experience seamless, secure, and real-time communication between web applications and MQTT networks. This powerful feature allows for easy integration of web-based interfaces with IoT devices.',
	},
	{
		icon: '/src/assets/images/landings/mqtt-broker/unauthorized-clients.svg',
		title: 'Unauthorized MQTT clients',
		href: '/docs/mqtt-broker/user-guide/ui/unauthorized-clients/',
		description:
			'Secure your IoT network with real-time monitoring of unauthorized access attempts. Gain critical details into potential security threats, enabling you to take proactive measures and strengthen overall system protection.',
	},
	{
		icon: '/src/assets/images/landings/mqtt-broker/blocked-clients.svg',
		title: 'Blocked MQTT clients',
		href: '/docs/mqtt-broker/other/blocked-client/',
		description:
			'Restrict access with rule-based blocking by Client ID, Username, IP address, or Regex. Ensures malicious clients are rejected early, conserves system resources, and keeps your MQTT broker secure.',
	},
	{
		icon: '/src/assets/images/landings/mqtt-broker/client-session-metrics.svg',
		title: 'MQTT client session metrics',
		href: '/docs/mqtt-broker/user-guide/ui/sessions/#metrics',
		description:
			'Gain valuable insights into client behavior and performance with detailed session metrics, allowing you to identify messaging anomalies and proactively troubleshoot issues.',
	},
	{
		icon: '/src/assets/images/landings/mqtt-broker/backpressure.svg',
		title: 'MQTT channel backpressure',
		href: '/docs/mqtt-broker/user-guide/backpressure/',
		description:
			"Protect broker performance with smart handling of slow subscribers. TBMQ pauses delivery when clients can't keep up and resumes once they recover, ensuring reliability and stability under load.",
	},
];
---

<section id="tbmq-bottom-features">
	<div class="inner">
		<SectionHeader title="TBMQ features" />
		<div class="cards">
			{
				features.map((f) => (
					<FeatureCard
						icon={f.icon}
						title={f.title}
						href={f.href}
						description={f.description}
						variant="tbmq"
					/>
				))
			}
		</div>
	</div>
</section>

<style lang="scss">
	@use '../../styles/variables' as *;

	#tbmq-bottom-features {
		padding: $spacing-12 $spacing-6 $spacing-20;
	}

	.inner {
		@include container;
		max-width: 1400px;
	}

	.cards {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;

		@include media-up(lg) {
			flex-direction: row;
		}
	}
</style>