---
import type { IotHubCardVariant } from '~/models/iot-hub';

interface Props {
	variant?: IotHubCardVariant;
}

const { variant = 'big' } = Astro.props;
---

<div class:list={['iot-hub-grid', `iot-hub-grid--${variant}`]}>
	<slot />
</div>

<style lang="scss">
	@use '~/styles/_variables.scss' as *;

	.iot-hub-grid {
		display: grid;
		gap: 16px;
	}

	.iot-hub-grid--big {
		grid-template-columns: repeat(4, minmax(0, 1fr));

		@include media-down(lg) {
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}

		@include media-down(md) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}

		@include media-down(sm) {
			grid-template-columns: 1fr;
		}
	}

	.iot-hub-grid--small {
		grid-template-columns: repeat(2, minmax(0, 1fr));

		@include media-down(md) {
			grid-template-columns: 1fr;
		}
	}
</style>
