---
interface Props {
	heading?: string;
	body: string;
}

const { heading, body } = Astro.props;
const paragraphs = body.split('\n\n').filter((p) => p.trim());
---

<section class="ih-about">
	{heading && <h2 class="ih-about__title">{heading}</h2>}
	{paragraphs.map((p) => <p class="ih-about__text">{p}</p>)}
</section>

<style lang="scss">
	@use '../../styles/_variables.scss' as *;
	@use '../../styles/_iot-hub.scss' as *;

	.ih-about {
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	.ih-about__title {
		@include iot-hub-section-title;
	}

	.ih-about__text {
		@include iot-hub-section-intro;
	}
</style>
