@use 'variables' as *;

footer {
  width: 100%;
  background-color: #0F161D;
  padding-left: 30px;
  padding-right: 30px;

  @media screen and (min-width: 1500px) {
    padding-left: 100px;
    padding-right: 100px;
  }

  main, div.main-div {
    padding: 92px 0 78px;
    max-width: 1200px;
    margin: 0 auto;

    @media screen and (min-width: 1025px) {
      max-width: 1200px;
    }

    @media screen and (min-width: 1500px) {
      max-width: 1400px !important;
    }

    hr {
      border: none;
      border-top: 2px solid white;
      opacity: 0.1;
      margin-top: 54px;
    }

    .deeper {
      margin-bottom: 60px;
      display: flex;
      justify-content: space-between;

      .footer-logo {
        background-image: url(/src/assets/images/thingsboard_logo_b.svg);
        filter: invert(100%) sepia(68%) saturate(0%) hue-rotate(350deg) brightness(113%) contrast(101%);
        width: 180px;
        height: 60px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
      }

      nav {
        display: flex;
        align-items: center;
        justify-content: right;

        a {
          text-align: right;
          display: inline-block;
          margin: 0 14px;
          font-size: 16px;
          color: white;
          transition: 300ms;

          &:hover {
            color: white;
          }

          &:last-child {
            margin-right: 0;
          }

          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }

  .newsletterSubsContainer {
    height: 106px;

    .footer-top-section {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 100%;
      gap: 30px;

      @media (max-width: 655px) {
        justify-content: center;
      }

      .footer-top-img-section {
        display: flex;
        gap: 40px;
      }
    }

    .loading {
      margin: 0;
      height: 47px;
      padding: 0 18px;
    }

    .subscribe {
      margin: 0;
      height: fit-content;
      padding: 13px 20px;
      transition-duration: unset;

      &:hover {
        transition-duration: unset;
        box-shadow: unset;
        background-color: #4F97F8;
      }

      &:focus {
        outline: none;
      }
    }

    #mlb2-7341216 {
      .subscribe-form {
        background: none !important;
        border: none !important;
        padding: 0;
        width: 520px !important;

        @media (max-width: 768px) {
          width: 100% !important;
        }

        &.horizontal {
          padding-bottom: 0;
          display: flex;
          flex-wrap: wrap;
        }
      }

      .form-section {
        p {
          line-height: 150%;
          padding: 0 !important;
          margin: 0 0 10px 0;
        }

        &.mb10 {
          margin-bottom: 10px;
          float: left;
        }

        &.horizontal {
          float: left;
          margin-bottom: 10px;
          width: 70%;

          @media (max-width: 768px) {
            float: none;
            width: 100%;
            padding: 0;
          }

          &.ml-button-position {
            width: 30%;
            padding: 0;

            @media (max-width: 768px) {
              float: none;
              width: 100%;
              padding: 0;
              margin-bottom: 20px;

              .button {
                width: 100%;
              }
            }
          }

          .form-group {
            float: left;
            width: 100%;
            padding-right: 6px;
            box-sizing: border-box;
            margin: 0;

            @media (max-width: 768px) {
              padding: 0;
            }
          }
        }
      }
    }

    #mlb2-7341216.ml-subscribe-form {
      .form-group {
        &.ml-error {
          .form-control {
            border-color: red !important;
          }
        }

        .form-control {
          background-color: white !important;
          height: 47px;
          width: 100%;
          font-size: 18px;
          line-height: 16px;
          font-weight: 400;
          color: #212529;
          border: 1px solid #fff;
          transition: .3s;
          padding: 10px 15px;
          border-radius: 4px;

          &::-webkit-input-placeholder {
            color: #999 !important;
          }

          &::-moz-placeholder {
            color: #999 !important;
          }

          &:-ms-input-placeholder {
            color: #999 !important;
          }

          &:-moz-placeholder {
            color: #999 !important;
          }
        }
      }
    }

    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: left;

    p {
      color: #6D7175;
      font-weight: 400;
    }
  }

  .deepmost {
    display: flex;
    justify-content: space-between;

    .copyright {
      color: #847989;
      font-size: 14px;
    }

    .social {
      width: fit-content;
      display: flex;
      text-align: right;

      a {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-left: 16px;

        &:hover {
          filter: brightness(200%);
        }
      }

      .twitter {
        display: flex;
        justify-content: flex-start;
      }
    }
  }
}

// Responsive footer
@media screen and (max-width: 1024px) {
  footer {
    .deeper {
      justify-content: flex-end !important;
      .footer-logo {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  footer {
    main, div.main-div {
      padding: 60px 0 40px;
    }

    .deeper {
      justify-content: center !important;
      nav {
        display: block !important;
        a {
          width: 100%;
          text-align: center !important;
          margin: 18px 0 0 !important;
        }
      }
    }

    .deepmost {
      display: block;
      .copyright {
        text-align: center;
      }
      .social {
        justify-content: center;
        width: 100%;
        padding-top: 48px;
      }
    }

    .newsletterSubsContainer {
      height: auto;
      justify-content: center;
      .primary.subscribe {
        height: unset;
        margin-top: 8px;
        width: 100%;
      }
    }
  }
}
