---
---

<section class="container-center">
	<div class="content">
		<h1 class="main-title">Trendz analytics</h1>
		<p class="text">Our analysis and prediction is your financial result and advance growth</p>
		<div class="btn-block">
			<a
				id="Products_TA_StartFree"
				href="/pricing/?section=trendz-options&product=trendz-self-managed&solution=trendz-pay-as-you-go"
				class="accent-btn">Start Free</a
			>
			<a id="Products_TA_GetADemo2" href="/products/trendz/trndz-request-demo/" class="try-pe"
				>Get a demo</a
			>
		</div>
	</div>
</section>

<style lang="scss">
	.container-center {
		display: flex;
		justify-content: center;
		padding: 120px 20px;
		background-color: #f8f9fd;
	}

	.content {
		max-width: 510px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		position: relative;

		// accent blur circle
		&::before {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -25%);
			width: 300px;
			height: 300px;
			background: rgba(85, 85, 255, 0.06);
			filter: blur(50px);
			z-index: 0;
			pointer-events: none;
		}

		// sphere decoration
		&::after {
			content: '';
			display: block;
			height: 100px;
			width: 100px;
			background: url('/products/trendz/sphere.png') no-repeat center / contain;
			position: absolute;
			left: -30px;
			bottom: -135px;
		}
	}

	.main-title {
		font-weight: 600;
		font-size: 24px;
		line-height: 1.25;
		color: #434343;
		text-transform: uppercase;
		z-index: 2;
		margin: 0;
		text-align: center;
	}

	.text {
		font-size: 16px;
		color: #666666;
		text-align: center;
		padding: 0 5%;
		z-index: 2;
		margin: 0;
	}

	.btn-block {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 10px;
		z-index: 2;
		flex-direction: column;
		width: 100%;

		div {
			width: 100%;
		}
	}

	.accent-btn {
		display: inline-block;
		background: #5555ff;
		border-radius: 4px;
		line-height: 1.5;
		padding: 13px 0;
		font-size: 16px;
		font-weight: 500;
		color: #ffffff;
		width: 100%;
		text-align: center;
		border: 1px solid #5555ff;
		text-decoration: none;
		transition: 0.3s;
		box-sizing: border-box;

		&:hover {
			background-color: #452cdc;
			border-color: #452cdc;
			color: #ffffff;
		}
	}

	.try-pe {
		display: inline-block;
		font-size: 16px;
		font-weight: 500;
		line-height: 1.5;
		width: 100%;
		padding: 13px 0;
		text-align: center;
		cursor: pointer;
		border: 1px solid #5555ff;
		border-radius: 4px;
		background-color: transparent;
		transition: 0.6s;
		color: #5555ff;
		text-decoration: none;
		box-sizing: border-box;

		&:hover {
			background: #5555ff;
			color: #ffffff;
		}
	}

	@media screen and (min-width: 750px) {
		.btn-block {
			flex-direction: row;
			width: unset;
		}

		.accent-btn {
			padding: 13px 72px;
			font-size: 20px;
			width: auto;
		}

		.try-pe {
			font-size: 20px;
			width: auto;
			padding: 13px 50px;
		}

		.content {
			&::before {
				width: 600px;
				height: 600px;
			}

			&::after {
				height: 160px;
				width: 160px;
				left: -120px;
				bottom: -143px;
			}
		}

		.main-title {
			font-size: 40px;
		}

		.text {
			font-size: 20px;
		}
	}

	@media screen and (min-width: 1500px) {
		.main-title {
			font-size: 50px;
		}

		.accent-btn {
			font-size: 24px;
		}

		.try-pe {
			font-size: 24px;
		}
	}
</style>