---
const options = [
	{
		title: 'Trendz Cloud',
		text: 'Upgrade your plan to gain deeper insights into your data',
		linkText: 'Upgrade your ThingsBoard Plan',
		href: 'https://thingsboard.cloud/billing',
	},
	{
		title: 'Trendz EU Cloud',
		text: 'Unlock powerful analytics tools by upgrading your plan',
		linkText: 'Upgrade your ThingsBoard EU Plan',
		href: 'https://eu.thingsboard.cloud/billing',
	},
	{
		title: 'Trendz Self-Hosted',
		text: 'Use our step-by-step guide to install Trendz Analytics to your server',
		linkText: 'Install Trendz to your server',
		href: '/docs/trendz/install/installation-options/',
	},
];
---

<section class="accent-bg">
	<div class="container">
		<div class="get-started">
			{
				options.map((opt) => (
					<div class="get-started-container">
						<h3 class="header">{opt.title}</h3>
						<p class="text">{opt.text}</p>
						<a href={opt.href} class="link">
							{opt.linkText}
						</a>
					</div>
				))
			}
		</div>
	</div>
</section>

<style lang="scss">
	.accent-bg {
		background: #f3f3ff;
		padding: 60px 0;
	}

	.container {
		padding: 0 20px;
	}

	.get-started {
		display: flex;
		justify-content: space-between;
		gap: 40px;
		flex-direction: column;
	}

	.get-started-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		position: relative;
		z-index: 1;
		height: 300px;

		&::before {
			content: '';
			display: block;
			width: 300px;
			height: 100%;
			background: #ececfc;
			position: absolute;
			border-radius: 50%;
			z-index: -1;
		}

		.header {
			font-size: 20px;
			font-weight: 600;
			color: #434343;
			margin: 0 0 20px;
			padding: 0 20%;
			line-height: 1.5;
		}

		.text {
			font-size: 16px;
			color: #666666;
			margin: 0 0 16px;
			padding: 0 10%;
		}
	}

	.link {
		font-weight: 500;
		font-size: 16px;
		line-height: 1.5;
		text-decoration-line: underline;
		color: #5555ff;
		position: relative;
		transition: 0.6s;
		padding-right: 25px;

		&::after {
			content: '';
			display: block;
			height: 16px;
			width: 16px;
			background-image: url('/products/trendz/arrow-right.svg');
			background-repeat: no-repeat;
			background-size: contain;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			transition: 0.3s;
			right: 0;
		}

		&:hover {
			color: #452cdc;

			&::after {
				right: -10px;
				filter: brightness(90%);
			}
		}
	}

	@media screen and (min-width: 750px) {
		.accent-bg {
			padding: 70px 0;
		}

		.container {
			padding: 0 40px;
		}

		.get-started {
			flex-direction: row;
			gap: 0;

			.get-started-container {
				flex: 1 1 33%;

				.header {
					padding: 0 17%;
				}

				.text {
					padding: 0;
				}
			}
		}
	}

	@media screen and (min-width: 1025px) {
		.container {
			width: calc(100% - 100px);
			margin: 0 auto;
			padding: 0;
		}

		.get-started {
			gap: 60px;
		}
	}

	@media screen and (min-width: 1500px) {
		.container {
			max-width: 1400px;
		}

		.get-started-container {
			.header {
				font-size: 24px;
			}

			.text {
				font-size: 19px;
				line-height: 1.7;
			}
		}

		.link {
			font-size: 24px;
		}
	}
</style>