---
const features = [
	{
		title: 'Anomaly detection',
		text: 'Find and address issues that require immediate attention before they become a problem.',
	},
	{
		title: 'Forecasting',
		text: 'Plan and optimize operations with insights into future events and system behavior.',
	},
	{
		title: 'Predictive maintenance',
		text: 'Identify when a machine is likely to fail, and take preventive measures to avoid downtime',
	},
	{
		title: 'AI Assistant',
		text: 'Chat with your data to get instant, AI-driven insights.',
	},
];
---

<section id="trendz-top-features">
	<div class="container">
		<div class="content-list">
			{
				features.map((f) => (
					<div class="content-block">
						<h2 class="header">{f.title}</h2>
						<p class="text">{f.text}</p>
					</div>
				))
			}
		</div>
	</div>
</section>

<style lang="scss">
	#trendz-top-features {
		background-color: #f8f9fd;

		.container {
			padding: 0 20px;
		}

		.content-list {
			display: flex;
			flex-wrap: wrap;
			gap: 25px;
			padding-bottom: 60px;

			.content-block {
				width: 100%;

				.header {
					margin: 0 0 20px;
					font-size: 20px;
					font-weight: 600;
					color: #434343;
				}

				.text {
					font-size: 16px;
					color: #666666;
					margin: 0;
				}
			}
		}
	}

	@media screen and (min-width: 750px) {
		#trendz-top-features {
			.container {
				padding: 0 40px;
			}

			.content-list {
				flex-wrap: wrap;
				gap: 30px;
				padding-bottom: 60px;
				max-width: 620px;
				margin: auto;

				.content-block {
					flex: 1 1 47%;
				}
			}
		}
	}

	@media screen and (min-width: 1025px) {
		#trendz-top-features {
			.container {
				max-width: 1000px;
				margin: 0 auto;
			}

			.content-list {
				flex-wrap: nowrap;
				max-width: unset;
				gap: 25px;

				.content-block {
					flex: 1 1 25%;
				}
			}
		}
	}

	@media screen and (min-width: 1500px) {
		#trendz-top-features {
			.container {
				max-width: 1400px;
			}

			.content-list {
				.content-block {
					.header {
						font-size: 24px;
					}

					.text {
						font-size: 19px;
						line-height: 1.7;
					}
				}
			}
		}
	}
</style>
