---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout forceLightTheme title="Thank You | Contact Us" pageId="contact-us">
	<div class="thanks-page">
		<div class="thanks-bg">
			<div class="main1"></div>
			<div class="small1"></div>
			<div class="small2"></div>
			<div class="small3"></div>
			<div class="small4"></div>
		</div>
		<div class="thanks-content">
			<p class="thank-you">Thank you for getting in touch!</p>
			<p>We appreciate you contacting us and will try to respond as soon as possible.<br />Have a great day!</p>
			<a class="homepage" href="/">Homepage</a>
		</div>
	</div>
</BaseLayout>

<style lang="scss">
	.thanks-page {
		min-height: calc(100vh - var(--header-height, 72px));
		padding-top: var(--header-height, 72px);
		background-color: #f4f8fe;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		overflow: hidden;
	}

	.thanks-bg {
		position: absolute;
		inset: 0;
		pointer-events: none;

		div {
			position: absolute;
			border-radius: 50%;
			background: radial-gradient(circle, rgba(42, 125, 236, 0.12) 0%, transparent 70%);
		}

		.main1 {
			width: 600px;
			height: 600px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.small1 { width: 200px; height: 200px; top: 10%; left: 15%; }
		.small2 { width: 150px; height: 150px; top: 20%; right: 20%; }
		.small3 { width: 120px; height: 120px; bottom: 25%; left: 25%; }
		.small4 { width: 180px; height: 180px; bottom: 15%; right: 15%; }
	}

	.thanks-content {
		position: relative;
		z-index: 1;
		text-align: center;
		padding: 30px;
		max-width: 600px;

		p {
			font-size: 18px;
			font-weight: normal;
			color: #75767c;
			margin-bottom: 16px;

			&.thank-you {
				font-size: 36px;
				font-weight: 600;
				color: #212529;
				margin-bottom: 16px;
			}
		}

		.homepage {
			margin-top: 48px;
			display: inline-flex;
			align-items: center;
			gap: 8px;
			font-size: 18px;
			font-weight: 500;
			color: #2a7dec;

			&::after {
				content: '';
				background-image: url(/images/pe/read-more-arrow.svg);
				background-size: contain;
				background-repeat: no-repeat;
				display: inline-block;
				width: 12px;
				height: 12px;
				filter: invert(35%) sepia(96%) saturate(1837%) hue-rotate(202deg) brightness(98%)
					contrast(89%);
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}
</style>