---
---

<div class="thingsboard-logos">
	<h3>The ThingsBoard logo</h3>
	<p>The ThingsBoard logo is available in three colors. Use black and deep blue on light backgrounds,</p>
	<p>and white on dark backgrounds.</p>
	<p>Do not modify the logo colors and use only the logos provided you by ThingsBoard.</p>
	<p class="mb">Official ThingsBoard logos are trademarks of ThingsBoard, inc.</p>

	<div class="logos-images">
		<div><img src="/images/mediakit/thingsboard_logo_white.svg" alt="White ThingsBoard logo"></div>
		<div><img src="/images/mediakit/thingsboard_logo_blue_media.svg" alt="Blue ThingsBoard logo"></div>
		<div><img src="/images/mediakit/thingsboard_logo_black.svg" alt="Black ThingsBoard logo"></div>
	</div>
	<div class="logos-images">
		<div><img src="/images/mediakit/thingsboard_logo_white_l.svg" alt="White ThingsBoard logo landscape"></div>
		<div><img src="/images/mediakit/thingsboard_logo_blue_l.svg" alt="Blue ThingsBoard logo landscape"></div>
		<div><img src="/images/mediakit/thingsboard_logo_black_l.svg" alt="Black ThingsBoard logo landscape"></div>
	</div>

	<h4>How to use our logo</h4>
	<p>Always provide a protected area of isolation around the logo, as illustrated in the diagram.</p>
	<p class="mb">This ensures the logo remains prominent and legible without interference from other design elements.</p>

	<div class="logos-examples">
		<div><img src="/images/mediakit/thingsboard_logo_example.svg" alt="ThingsBoard logo padding example"></div>
		<div><img src="/images/mediakit/thingsboard_logo_example_sm.svg" alt="Small ThingsBoard logo padding example"></div>
	</div>

	<a class="download" href="/mediakit/ThingsBoard_Logos.zip" download>
		Download logo kit
		<img src="/images/mediakit/download-icon.svg" alt="">
	</a>
</div>

<style lang="scss">
	.thingsboard-logos {
		max-width: min(1400px, calc(100% - 40px));
		padding: 46px;
		border-radius: 24px;
		box-shadow: -4px 15px 50px -20px rgba(0, 0, 0, 0.15), 0 0 8px 0 rgba(0, 0, 0, 0.08);
		margin: 0 auto 56px;
		animation: slide-in 0.8s ease-out forwards;
		position: relative;
		z-index: 1;
		overflow: hidden;

		&::before,
		&::after {
			content: '';
			position: absolute;
			background: url('/images/mediakit/clients-feedback-bg.svg');
			width: 2187px;
			height: 1004px;
			z-index: -1;
		}

		&::before {
			top: -520px;
			left: -1550px;
		}

		&::after {
			top: -521px;
			right: -1500px;
		}
	}

	h3 {
		color: #212529;
		font-size: 28px;
		font-weight: 500;
		line-height: 44px;
		letter-spacing: 0.249px;
		margin-bottom: 8px;
	}

	h4 {
		color: #212529;
		font-size: 20px;
		font-weight: 500;
		line-height: 32px;
		margin-bottom: 8px;
		margin-top: 32px;
	}

	p {
		margin-top: 0;
		color: #3d3d3d;
		font-size: 16px;
		font-weight: 400;
		line-height: 28px;

		&.mb {
			margin-bottom: 32px;
		}
	}

	.logos-images {
		display: flex;
		gap: 16px;

		&:first-of-type { margin-bottom: 24px; }
		&:last-of-type  { margin-bottom: 40px; }

		div {
			flex: 1;
			min-width: 0;
		}

		img {
			max-width: 436px;
			width: 100%;
		}
	}

	.logos-examples {
		display: flex;
		justify-content: space-around;
		max-width: 1300px;
		margin-bottom: 40px;

		img { max-width: 100%; }
	}

	.download {
		display: flex;
		align-items: center;
		gap: 0;
		color: #2a7dec;
		border-radius: 6px;
		border: 1px solid #2a7dec;
		padding: 10px;
		font-size: 16px;
		font-weight: 500;
		line-height: 28px;
		text-decoration: none;
		margin: 0 auto;
		width: fit-content;

		img {
			width: 15px;
			margin-left: 5px;
		}

		&:hover {
			filter: brightness(1.3) contrast(0.9);
			text-decoration: none;
		}
	}

	@keyframes slide-in {
		from { opacity: 0; transform: translateY(100px); }
		to   { opacity: 1; transform: translateY(0); }
	}

	@media (max-width: 599px) {
		.thingsboard-logos {
			padding: 32px;
		}

		.logos-images,
		.logos-examples {
			flex-direction: column;
			align-items: center;
		}
	}
</style>
