---
---

<div class="trademarks-bg">
	<div class="trademarks">
		<h3>Using the ThingsBoard trademarks</h3>
		<div class="trademark-block">
			<div class="text">
				<h4>To identify ThingsBoard platform and link to website</h4>
				<p>You needn't ask us for permission to use the ThingsBoard logo on your own website solely as a hyperlink to <a target="_blank" href="/" rel="noopener noreferrer">thingsboard.io</a> or to an appropriate ThingsBoard project, or in other materials, such as presentations and slides, solely as a means to refer to the ThingsBoard itself. All other uses of the ThingsBoard logo must be <a target="_blank" href="https://www.apache.org/foundation/marks/contact#other" rel="noopener noreferrer">approved in writing</a> by the ThingsBoard, inc.</p>
			</div>
			<img src="/images/mediakit/tb-trademarks-1.webp" alt="To identify ThingsBoard platform and link to website" width="450" height="241">
		</div>
		<div class="trademark-block">
			<div class="text">
				<h4>In software product branding</h4>
				<p>In general, you may not use ThingsBoard trademarks in any software product branding for software products except "Powered By ThingsBoard" in the dashboard footer. For example, it is not permitted to name a product either "MyCompany distribution of ThingsBoard", "ThingsBoard MyCompany Edition", or any similar kind of name. You may contact us to get a written permission to use ThingsBoard trademarks in your software product branding.</p>
			</div>
			<img src="/images/mediakit/tb-trademarks-2.webp" alt="In software product branding" width="450" height="241">
		</div>
		<div class="trademark-block">
			<div class="text">
				<h4>The following uses of ThingsBoard trademarks are probably infringing:</h4>
				<ul>
					<li><p>Confusingly similar software product names.</p></li>
					<li><p>Software service offerings that are for anything other than official ThingsBoard-distributed software.</p></li>
					<li><p>Company names that may be associated in customer's minds with ThingsBoard or its trademarked project software.</p></li>
				</ul>
			</div>
			<img src="/images/mediakit/tb-trademarks-3.webp" alt="Uses of ThingsBoard trademarks" width="450" height="241">
		</div>
	</div>
</div>
	
<style lang="scss">
	.trademarks-bg {
		background-color: #f4f8fe;
		padding: 100px 0;
		margin-bottom: 100px;
	}
	.trademarks {
		max-width: min(1400px, calc(100% - 40px));
		z-index: 1;
		margin: 0 auto;
	}

	h3 {
		color: #212529;
		font-size: 36px;
		font-weight: 500;
		line-height: 48px;
		letter-spacing: 0.249px;
		margin-bottom: 8px;
	}

	.trademark-block {
		display: flex;
		align-items: center;
		gap: 32px;
		padding: 40px 0;
		border-bottom: 1px solid #ddecfd;

		&:last-child {
			padding-bottom: 0;
			border-bottom: none;
		}

		&:nth-of-type(even) {
			flex-direction: row-reverse;
		}
	}

	.text {
		flex: 1;

		h4 {
			font-size: 28px;
			line-height: 44px;
			color: #202021;
			margin-bottom: 40px;
			font-weight: 500;
		}

		p {
			font-size: 16px;
			line-height: 28px;
			font-weight: 400;
			color: #3b3c3d;
			margin-bottom: 16px;
			margin-top: 0;
		}

		a {
			text-decoration: underline;
			color: #2a7dec;
		}

		ul {
			margin-left: 34px;
			list-style: disc;

			li {
				margin-bottom: 16px;
				list-style: disc;
			}
		}
	}

	img {
		width: 450px;
		height: 250px;
		border-radius: 24px;
	}

	@media (max-width: 900px) {
		.trademarks {
			padding: 50px 0;
		}

		h3 {
			text-align: center;
			font-size: 28px;
			line-height: 44px;
		}

		.trademark-block {
			flex-direction: column !important;
			text-align: left;

			.text h4 {
				font-size: 24px;
				line-height: 36px;
			}
		}

		img {
			width: 100%;
			height: auto;
		}
	}
</style>
