---
import { Code } from '@astrojs/starlight/components';
---

<h2 id="prepare-for-upgrading-thingsboard">Prepare for upgrading ThingsBoard</h2>

<p><strong>Stop ThingsBoard</strong></p>
<p>Check if ThingsBoard and database services are running. Initially ThingsBoard, check status to ensure it is stopped and then databases.</p>

<Code code="sudo systemctl stop thingsboard" lang="bash" />
<Code code="sudo systemctl status thingsboard" lang="bash" />

<h3>Backup Database</h3>
<p>Make a backup of the database before upgrading.</p>

<h4>PostgreSQL</h4>
<p>Check PostgreSQL status. It is unnecessary to stop PostgreSQL for the backup.</p>

<Code code="sudo systemctl status postgresql" lang="bash" />

<p><strong>Make sure you have enough space to place a backup of the database</strong></p>
<p>Check database size:</p>
<Code code={`sudo -u postgres psql -c "SELECT pg_size_pretty( pg_database_size('thingsboard') );"`} lang="bash" />

<p>Check free space:</p>
<Code code="df -h /" lang="bash" />

<p>If there is enough free space — make a backup:</p>
<Code code="sudo -Hiu postgres pg_dump thingsboard > thingsboard.sql.bak" lang="bash" />

<p>Check backup file being created.</p>

<h4>Cassandra</h4>
<p>Check Cassandra status. It is necessary to stop Cassandra for the backup.</p>
<Code code="sudo systemctl status cassandra" lang="bash" />

<p>Flush all memtables from the node to SSTables on disk:</p>
<Code code="nodetool drain" lang="bash" />

<p>Stop Cassandra:</p>
<Code code="sudo systemctl stop cassandra" lang="bash" />

<p>Check the status again to ensure it is stopped:</p>
<Code code="sudo systemctl status cassandra" lang="bash" />

<p><strong>Make sure you have enough space to place a backup of the database</strong></p>
<p>Check database size:</p>
<Code code="du -h /var/lib/cassandra/ | tail -1" lang="bash" />

<p>Check free space:</p>
<Code code="df -h /" lang="bash" />

<p>Make a backup of Cassandra database:</p>
<Code code={`mkdir backup\nsudo tar -cvf backup/cassandra.tar /var/lib/cassandra`} lang="bash" />

<p><strong>Check archive being created.</strong></p>

<h3>Start Database</h3>
<p><strong>Cassandra:</strong></p>
<Code code="sudo systemctl start cassandra" lang="bash" />

<p><strong>PostgreSQL:</strong> Do nothing, PostgreSQL is already running.</p>
