---
interface Props {
	src: string;
	alt: string;
	width?: number;
	height?: number;
}

const { src, alt, width, height } = Astro.props;
---

<section class="cs-full-width-img cs-section">
	<img src={src} alt={alt} width={width} height={height} loading="lazy" decoding="async" />
</section>

<style lang="scss" is:global>
	@use '../../styles/variables' as *;

	.cs-full-width-img {
		margin-left: calc(-1 * #{$spacing-5});
		margin-right: calc(-1 * #{$spacing-5});

		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
</style>
