---
import LegalLayout from '../../../layouts/LegalLayout.astro';
---

<LegalLayout title="TBMQ Terms of Use" description="TBMQ Terms of Use">
	<h1>TERMS OF USE</h1>
	<h2>PLEASE READ THESE TERMS AND CONDITIONS</h2>
	<p class="date">As of February 4, 2026</p>

	<br />

	<p><b>1. Service Description</b></p>
	<p>
		1.1 This MQTT broker service (the <b>"Service"</b>) is powered by TBMQ (ThingsBoard MQTT
		Broker) and is provided free of charge for testing, prototyping, and educational purposes.
	</p>

	<br />

	<p><b>2. Acceptance of Terms</b></p>
	<p>
		2.1 By connecting to or using this Service, you agree to be bound by these Terms of Use and
		acknowledge that you have read and understood our <a
			target="_blank"
			href="/products/mqtt-broker/privacy-policy/">Privacy Policy</a
		>. You consent to the collection and processing of data as outlined therein. If you do not
		agree, please discontinue use immediately.
	</p>

	<br />

	<p><b>3. No Warranty &amp; "As-Is" Provision</b></p>
	<p>
		3.1 This Service is provided "AS IS" and "AS AVAILABLE" without any warranty of any kind.
	</p>
	<p>
		3.2 <b>No Uptime Commitment:</b> We do not guarantee continuous availability. The Service may
		be rebooted, updated, or taken offline at any time without notice. Claims whatsoever are not
		acceptable.
	</p>
	<p>
		3.3 <b>No Delivery Guarantees:</b> We do not guarantee the delivery, persistence, or order of
		messages. Messages may be lost, discarded, or deleted during maintenance or periods of high
		load, although we do our best to prevent these occurrences.
	</p>
	<p>
		3.4 <b>Not for Production:</b> This Service is strictly prohibited for use without limitation
		in mission-critical, commercial production, or life-safety systems.
	</p>

	<br />

	<p><b>4. Data Privacy &amp; Security</b></p>
	<p>
		4.1 Any data sent to this broker is deemed public. Do not transmit sensitive, confidential, or
		personally identifiable information (PII).
	</p>
	<p>
		4.2 We do not guarantee the storage of retained messages or persistent sessions. Data may be
		wiped periodically to reset the environment, although we do our best to prevent these
		occurrences.
	</p>

	<br />

	<p><b>5. Usage Restrictions</b></p>
	<p>
		5.1 You agree not to use the Service to perform stress testing, load testing, or "Denial of
		Service" (DoS) attacks that degrade performance for other users.
	</p>
	<p>5.2 You cannot transmit illegal, harmful, or malicious content.</p>
	<p>
		5.3 You are not allowed to connect an excessive number of clients or publish at rates that
		unreasonably burden the infrastructure.
	</p>

	<br />

	<p><b>6. Termination</b></p>
	<p>
		6.1 We reserve the right to block specific IP addresses, device or application Client IDs, or
		users at our sole discretion if we detect abuse or violations of these Terms.
	</p>

	<br />

	<p><b>7. Limitation of Liability</b></p>
	<p>
		7.1 To the maximum extent permitted by law, the provider of this Service shall not be liable
		for any direct, indirect, incidental, or consequential damages (including loss of data or
		profits) arising from the use or inability to use this Service.
	</p>

	<br />

	<p><b>8. Contact</b></p>
	<p>
		8.1 For inquiries regarding this Service, please contact: <a href="mailto:info@thingsboard.io"
			>info@thingsboard.io</a
		>.
	</p>
</LegalLayout>