---
import BaseLayout from '@layouts/BaseLayout.astro';
---

<BaseLayout
	headerVariant="solid-shadow"
	forceLightTheme
	title="ThingsBoard choose region"
	description="ThingsBoard is an open-source IoT platform for device management, data collection, processing and visualization for your IoT projects"
	noIndex
>
	<section class="intro">
		<h1>Where should we store your data?</h1>
		<div class="details">
			<p class="margin">Pick a cluster for localized performance and regulatory compliance.</p>
		</div>
		<div class="region-button-section">
			<a
				id="TryItNow_Cloud_NorthAmerica"
				data-region="north-america"
				class="button gtm_button"
				href="https://thingsboard.cloud/signup"
			>
				North America
			</a>
			<a
				id="TryItNow_Cloud_Europe"
				data-region="europe"
				class="button gtm_button"
				href="https://eu.thingsboard.cloud/signup"
			>
				Europe
			</a>
		</div>
	</section>

	<section class="map-container">
		<object id="map" data="/images/region-map.svg"></object>
	</section>
</BaseLayout>

<script>
	document.getElementById('map')!.addEventListener('load', function (this: HTMLObjectElement) {
		const svgDoc = this.contentDocument!;
		const buttons = document.querySelector('.region-button-section')!.querySelectorAll<HTMLElement>('.button');

		buttons.forEach((button) => {
			button.addEventListener('mouseenter', () => {
				svgDoc.querySelector('.' + button.dataset.region)?.classList.add('region-selected');
			});
			button.addEventListener('mouseleave', () => {
				svgDoc.querySelector('.' + button.dataset.region)?.classList.remove('region-selected');
			});
		});
	});
</script>

<style lang="scss">
	@use '../../../styles/variables' as *;

	.intro {
		padding: 40px 30px 55px;
		width: 830px;
		max-width: 100%;
		margin: 0 auto;
		text-align: center;

		@media (max-width: 1279px) {
			padding: 24px 12px 55px;
		}

		@media (max-width: 959px) {
			padding: 16px 24px 48px;
		}

		@media (max-width: 599px) {
			padding: 12px 16px 24px;
		}

		h1 {
			font-size: 48px;
			font-weight: 600;
			line-height: 54px;
			margin-bottom: 24px;

			@media (max-width: 599px) {
				font-size: 32px;
			}
		}

		.details {
			color: #707275;
			margin-bottom: 40px;

			@media (max-width: 599px) {
				margin-bottom: 24px;
			}

			p {
				font-size: 18px;
				line-height: 28px;
				letter-spacing: 0.027px;

				&.margin {
					margin-bottom: 1rem;
				}

				@media (max-width: 599px) {
					font-size: 16px;
					line-height: 24px;
				}
			}
		}

		.region-button-section {
			display: flex;
			gap: 24px;

			@media (max-width: 959px) {
				justify-content: center;
				align-items: center;
			}

			@media (max-width: 599px) {
				flex-direction: column;
			}

			.button {
				flex: 1;
				display: inline-block;
				border-radius: 4px;
				padding: 10px 20px;
				line-height: 24px;
				color: #fff;
				background-color: var(--tb-main-color);
				text-decoration: none;
				font-size: 16px;
				font-weight: 500;
				border: 1px solid var(--tb-main-color);
				box-shadow: 0 12px 16px 0 rgba(42, 125, 236, 0.16);
				transition-property: background-color, box-shadow, color, filter;
				transition-duration: 0.4s;
				transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
				text-align: center;

				@media (max-width: 959px) {
					width: 200px;
					max-width: 200px;
				}

				&:hover {
					filter: none;
					color: var(--tb-main-color);
					background-color: unset;
					box-shadow: none;
				}
			}
		}
	}

	.map-container {
		margin-bottom: 55px;
		padding-left: 0;
		padding-right: 0;

		object {
			display: block;
			width: 90%;
			max-width: 1550px;
			margin: 0 auto;
		}

		@media (max-width: 959px) {
			padding-left: 24px;
			padding-right: 24px;

			object {
				width: 100%;
			}
		}

		@media (max-width: 599px) {
			margin-bottom: 40px;
			padding-left: 16px;
			padding-right: 16px;
		}
	}
</style>
