---
import LegalLayout from '../../../layouts/LegalLayout.astro';
---
 
<LegalLayout title="ThingsBoard Cloud Data Processing Agreement" description="ThingsBoard Cloud Data Processing Agreement">
  <br />
  <h1>ThingsBoard Cloud Data Processing Agreement</h1>
 
  <p><b>This Data Processing Agreement </b> ("Agreement") forms part of the Services ("Principal Agreement") between <b>THINGSBOARD, Inc </b>, registered in USA under company number 5603424 and whose registered office is at 110 Duane Street, 1 C Suite, New York, NY, 10007 US </p>
 
<p> and </p>
 
<p>any entity or person accepting the terms of the Principal Agreement (<b>“Customer”</b> or <b>“You”</b>) that govern the application to services provided by ThingsBoard</p>
 
<p>(together as the “Parties”)</p> 
 
 <br />
 
<p>WHEREAS</p>  
  
<p>1. The Company acts as a Data Controller.</p> 
<p>2. The Company gives access to the Data Processor to its premises and\or cloud storages, thus the Data Processor may have (but not necessarily) access to personal data stored by the Company.</p>  
<p>3. The Parties seek to implement a data processing agreement that complies  with the requirements of the current legal framework in relation to data processing and with the Regulation (EU) 2016/679 of the European Parliament and of the Council of 27 April 2016 on the protection of natural  persons with regard to the processing of personal data and on the free movement of such data, and repealing Directive 95/46/EC (General Data Protection Regulation).</p> 
<p>4. The Parties wish to lay down their rights and obligations.</p>  
 
<br />
<p> IT IS AGREED AS FOLLOWS: </p> 
 
 
  <br />
  <p><b>1. Definitions and Interpretation </b></p>
 
<p>1.1 Unless otherwise defined herein, capitalized terms and expressions used   in this Agreement shall have the following meaning:</p>  
<ul>
<li>1.1.1 "Agreement" means this Data Processing Agreement and all Schedules herein;</li>  
<li>1.1.2 "Company Personal Data" means any Personal Data processed by the Data Processor (if any)on behalf of Company  pursuant to or in connection with the Principal Agreement;</li> 
<li>1.1.3 "Contracted Processor" means a Subprocessor;</li>  
<li>1.1.4 "Data Protection Laws" means US Data Protection Laws, EU Data Protection Laws and, to the extent applicable, the data protection or privacy laws of any other country;</li>  
<li>1.1.5 "EEA" means the European Economic Area;</li>  
<li>1.1.6 "EU Data Protection Laws" means EU Directive 95/46/EC, as transposed into domestic legislation of each Member State and as amended, replaced or superseded from time to time, including by the GDPR and laws implementing or supplementing the GDPR; </li> 
<li>1.1.7 "GDPR" means EU General Data Protection Regulation 2016/679; </li>  
<li>1.1.8 "Data Transfer" means: </li>  
   <li> 1.1.8.1 a transfer of Company Personal Data from the Company to a Contracted Processor; or  </li>
   <li> 1.1.8.2 an onward transfer of Company Personal Data from a Contracted Processor to a Subcontracted Processor, or between two establishments of a Contracted Processor, in each case, where such transfer would be prohibited by Data  Protection Laws (or by the terms of data transfer agreements  put in place to address the data transfer restrictions of Data  Protection Laws); </li> 
<li>1.1.9 "Services" means the support services the Data Processor provides to the Company under Principal Agreement.  </li> 
<li>1.1.10 "Subprocessor" means any person appointed by or on behalf of Processor to process Personal Data on behalf of the Company in connection with the Agreement. </li>
</ul> 
<p>1.2 The terms, "Commission", "Controller", "Data Subject", "Member  State", "Personal Data", "Personal Data Breach", "Processing" and "Supervisory Authority" shall have the same meaning as in the GDPR, and their cognate terms shall be construed accordingly. </p> 
 
<br />
<p></b>2. Processing of Company Personal Data </b> </p> 
<p>2.1 Processor shall: </p> 
<ul>
<li>2.1.1 comply with all applicable Data Protection Laws in the Processing of Company Personal Data; and </li> 
<li>2.1.2 not Process Company Personal Data other than on the relevant Company’s documented instructions.</li>
</ul> 
<p>2.2 The Company instructs Processor to process Company Personal Data.</p> 
 
<br />
<p><b>3. Processor Personnel</b></p>  
<p>3.1. Processor shall take reasonable steps to ensure the reliability of any  employee, agent or contractor of any Contracted Processor who may have  access to the Company Personal Data, ensuring in each case that access  is strictly limited to those individuals who need to know / access the  relevant Company Personal Data, as strictly necessary for the purposes of  the Principal Agreement, and to comply with Applicable Laws in the  context of that individual's duties to the Contracted Processor, ensuring  that all such individuals are subject to confidentiality undertakings or  professional or statutory obligations of confidentiality. </p>
 
<br />
<p> <b>4. Security </b> </p> 
<p>4.1 Taking into account the state of the art, the costs of implementation and the nature, scope, context and purposes of Processing as well as the risk of varying likelihood and severity for the rights and freedoms of natural persons, Processor shall in relation to the Company Personal Data implement appropriate technical and organizational measures to ensure a level of security appropriate to that risk, including, as appropriate, the measures referred to in Article 32(1) of the GDPR. </p> 
<p>4.2 In assessing the appropriate level of security, Processor shall take account in particular of the risks that are presented by Processing, in particular from a Personal Data Breach.  </p>
<br />
<p><b>5. Subprocessing </b></p> 
<p>5.1 Processor shall not appoint (or disclose any Company Personal Data to) any Subprocessor unless required or authorized by the Company, or only to those employees, contractors or agents, who need to know / access the  relevant Company Personal Data.</p>
 
<br />
<p><b>6. Data Subject Rights  </b></p>
<p>6.1 Taking into account the nature of the Processing, Processor shall assist the Company by implementing appropriate technical and organizational measures, insofar as this is possible, for the fulfilment of the Company obligations, as reasonably understood by Company, to respond to requests to exercise Data Subject rights under the Data Protection Laws. </p> 
<p>6.2 Processor shall: </p>
<ul>
<li> 6.2.1 promptly notify Company if it receives a request from a Data Subject under any Data Protection Law in respect of Company Personal Data; and </li> 
<li>6.2.2 ensure that it does not respond to that request except on the documented instructions of Company or as required by Applicable Laws to which the Processor is subject, in which case Processor shall to the extent permitted by Applicable Laws inform Company of that legal requirement before the Contracted Processor responds to the request.</li>
</ul>
 
 <br />
<p> <b>7. Personal Data Breach  </b> </p>
<p>7.1 Processor shall notify Company without undue delay upon Processor becoming aware of a Personal Data Breach affecting Company Personal Data, providing Company with sufficient information to allow the Company to meet any obligations to report or inform Data Subjects of the Personal Data Breach under the Data Protection Laws. </p> 
<p>7.2 Processor shall co-operate with the Company and take reasonable commercial steps as are directed by Company to assist in the investigation, mitigation and remediation of each such Personal Data Breach.  </p>
 
<br />
<p><b>8. Data Protection Impact Assessment and Prior Consultation</b></p>  
<p>8.1. Processor shall provide reasonable assistance to the Company with any  data protection impact assessments, and prior consultations with  Supervising Authorities or other competent data privacy authorities, which  Company reasonably considers to be required by article 35 or 36 of the  GDPR or equivalent provisions of any other Data Protection Law, in each  case solely in relation to Processing of Company Personal Data by, and  taking into account the nature of the Processing and information available  to, the Contracted Processors.</p>  
 
<br />
<p><b>9. Deletion or return of Company Personal Data  </b></p>
<p>9.1 Subject to this section 9 Processor shall promptly and in any event within 10 business days of the date of cessation of any Services involving the Processing of Company Personal Data (the <b>"Cessation Date"</b>), delete and procure the deletion of all copies of those Company Personal Data.</p>  
<p>9.2 Processor shall provide written certification to Company that it has fully complied with this section 9 within 10 business days of the Cessation Date.</p>  
 
<br />
<p><b>10. Audit rights  </b></p>
<p>10.1 Subject to this section 10, Processor shall make available to the Company on request all information necessary to demonstrate compliance with this Agreement, and shall allow for and contribute to audits, including inspections, by the Company or an auditor mandated by the Company in relation to the Processing of the Company Personal Data by the Contracted Processors.</p>
<p>10.2 Information and audit rights of the Company only arise under section 10.1 to the extent that the Agreement does not otherwise give them information and audit rights meeting the relevant requirements of Data Protection Law.</p>  
 
<br />
<p><b>11. Data Transfer </b></p> 
<p>11.1 The Processor may not transfer or authorize the transfer of Personal Data to countries outside the EU, and/or the European Economic Area (EEA), USA, or Ukraine without the prior written consent of the Company. If personal data processed under this Agreement is transferred from a country within the European Economic Area to a country outside the European Economic Area, the Parties shall ensure that the personal data are adequately protected. To achieve this, the Parties shall, unless agreed otherwise, rely on EU approved standard contractual clauses for the transfer of personal   data, stated below in clauses 11.2 – 11.10 (<b>"Clauses"</b>).</p>
<p>11.2 Instructions</p>
<ul>
<li>a) The data exporter (the Company) has informed the data importer (the Data Processor) that it acts as processor under the instructions of its controller(s), which the data exporter shall make available to the data importer prior to processing.</li>
<li>b) The data importer shall process the personal data only on documented instructions from the controller, as communicated to the data importer by the data exporter, and any additional documented instructions from the data exporter. Such additional instructions shall not conflict with the instructions from the controller. The controller or data exporter may give further documented instructions regarding the data processing throughout the duration of the contract.</li>
<li>c) The data importer shall immediately inform the data exporter if it is unable to follow those instructions. Where the data importer is unable to follow the instructions from the controller, the data exporter shall immediately notify the controller.</li>
<li>d) The data exporter warrants that it has imposed the same data protection obligations on the data importer as set out in the contract or other legal act under EU or Member State law between the controller and the data exporter.</li>
</ul>
 
<p>11.3 Purpose limitation</p>
<p>The data importer shall process the personal data only for the specific purpose(s) of the transfer, agreed by the Parties, unless on further instructions from the controller, as communicated to the data importer by the data exporter, or from the data exporter.</p>
 
<p>11.4 Transparency</p>
<p>On request, the data exporter shall make a copy of these Clauses, including the Appendixes (if any) as completed by the Parties, available to the data subject free of charge. To the extent necessary to protect business secrets or other confidential information, including personal data, the data exporter may redact part of the text of the Appendix prior to sharing a copy, but shall provide a meaningful summary where the data subject would otherwise not be able to understand its content or exercise his/her rights. On request, the Parties shall provide the data subject with the reasons for the redactions, to the extent possible without revealing the redacted information.</p>
 
<p>11.5 Accuracy</p>
<p>If the data importer becomes aware that the personal data it has received is inaccurate, or has become outdated, it shall inform the data exporter without undue delay. In this case, the data importer shall cooperate with the data exporter to rectify or erase the data.</p>
 
<p>11.6 Duration of processing and erasure or return of data</p>
<p>Processing by the data importer shall only take place for the duration of this Agreement. After the end of the provision of the processing services, the data importer shall, at the choice of the data exporter, delete all personal data processed on behalf of the controller and certify to the data exporter that it has done so, or return to the data exporter all personal data processed on its behalf and delete existing copies. Until the data is deleted or returned, the data importer shall continue to ensure compliance with these Clauses. In case of local laws applicable to the data importer that prohibit return or deletion of the personal data, the data importer warrants that it will continue to ensure compliance with these Clauses and will only process it to the extent and for as long as required under that local law. This is the requirement for the data importer to notify the data exporter throughout the duration of the contract if it has reason to believe that it is or has become subject to laws or practices not in line with the requirements under these Clauses.</p>
 
<p>11.7 Security of processing</p>
 
<ul>
<li>a) The data importer and, during transmission, also the data exporter shall implement appropriate technical and organisational measures to ensure the security of the data, including protection against a breach of security leading to accidental or unlawful destruction, loss, alteration, unauthorised disclosure or access to that data (hereinafter ‘personal data breach’). In assessing the appropriate level of security, they shall take due account of the state of the art, the costs of implementation, the nature, scope, context and purpose(s) of processing and the risks involved in the processing for the data subject. The Parties shall in particular consider having recourse to encryption or pseudonymisation, including during transmission, where the purpose of processing can be fulfilled in that manner. In case of pseudonymisation, the additional information for attributing the personal data to a specific data subject shall, where possible, remain under the exclusive control of the data exporter or the controller. In complying with its obligations under this paragraph, the data importer shall at least implement the technical and organisational measures minimally required by applicable law. The data importer shall carry out regular checks to ensure that these measures continue to provide an appropriate level of security. </li>
<li> b) The data importer shall grant access to the data to members of its personnel only to the extent strictly necessary for the implementation, management and monitoring of the contract. It shall ensure that persons authorised to process the personal data have committed themselves to confidentiality or are under an appropriate statutory obligation of confidentiality.</li>
<li>c) In the event of a personal data breach concerning personal data processed by the data importer under these Clauses, the data importer shall take appropriate measures to address the breach, including measures to mitigate its adverse effects. The data importer shall also notify, without undue delay, the data exporter and, where appropriate and feasible, the controller after having become aware of the breach. Such notification shall contain the details of a contact point where more information can be obtained, a description of the nature of the breach (including, where possible, categories and approximate number of data subjects and personal data records concerned), its likely consequences and the measures taken or proposed to address the data breach, including measures to mitigate its possible adverse effects. Where, and in so far as, it is not possible to provide all information at the same time, the initial notification shall contain the information then available and further information shall, as it becomes available, subsequently be provided without undue delay. </li>
<li>d) The data importer shall cooperate with and assist the data exporter to enable the data exporter to comply with its obligations under Regulation (EU) 2016/679, in particular to notify its controller so that the latter may in turn notify the competent supervisory authority and the affected data subjects, taking into account the nature of processing and the information available to the data importer.
 </li>
</ul>
 
<p>11.8 Sensitive data</p>
<p>Where the transfer involves personal data revealing racial or ethnic origin, political opinions, religious or philosophical beliefs, or trade union membership, genetic data, or biometric data for the purpose of uniquely identifying a natural person, data concerning health or a person’s sex life or sexual orientation, or data relating to criminal convictions and offences (hereinafter ‘sensitive data’), the data importer shall apply the specific restrictions and/or additional safeguards required by applicable law.</p>
 
<p>11.9 Onward transfers</p>
<p>The data importer shall only disclose the personal data to a third party on documented instructions from the controller, as communicated to the data importer by the data exporter. In addition, the data may only be disclosed to a third party located outside the European Union (in the same country as the data importer or in another third country, hereinafter ‘onward transfer’) if the third party is or agrees to be bound by these Clauses, or if:</p>
 
<ul>
<li> a) the onward transfer is to a country benefitting from an adequacy decision pursuant to Article 45 of Regulation (EU) 2016/679 that covers the onward transfer;</li>
<li> b) the third party otherwise ensures appropriate safeguards pursuant to Articles 46 or 47 of Regulation (EU) 2016/679;</li>
<li>c) the onward transfer is necessary for the establishment, exercise or defence of legal claims in the context of specific administrative, regulatory or judicial proceedings; or</li>
<li>d) the onward transfer is necessary in order to protect the vital interests of the data subject or of another natural person.</li>
</ul>
 
<p> Any onward transfer is subject to compliance by the data importer with all the other safeguards under these Clauses, in particular purpose limitation.</p>
 
<p>11.10 Documentation and compliance</p>
<ul>
<li>a) The data importer shall promptly and adequately deal with enquiries from the data exporter or the controller that relate to the processing under these Clauses.</li>
<li>b) The Parties shall be able to demonstrate compliance with these Clauses. In particular, the data importer shall keep appropriate documentation on the processing activities carried out on behalf of the controller.</li>
<li>c) The data importer shall make all information necessary to demonstrate compliance with the obligations set out in these Clauses available to the data exporter, which shall provide it to the controller.</li>
<li>d) The data importer shall allow for and contribute to audits by the data exporter of the processing activities covered by these Clauses, at reasonable intervals or if there are indications of non-compliance. The same shall apply where the data exporter requests an audit on instructions of the controller. In deciding on an audit, the data exporter may take into account relevant certifications held by the data importer.</li>
<li>e) Where the audit is carried out on the instructions of the controller, the data exporter shall make the results available to the controller.</li>
<li>f) The data exporter may choose to conduct the audit by itself or mandate an independent auditor. Audits may include inspections at the premises or physical facilities of the data importer and shall, where appropriate, be carried out with reasonable notice.</li>
<li>g) The Parties shall make the information referred to in paragraphs (b) and (c), including the results of any audits, available to the competent supervisory authority on request.</li>
</ul>
 
<br />
 
<p>12. General Terms  </p>
<p>12.1 Confidentiality. Each Party must keep this Agreement and information it receives about the other Party and its business in connection with this Agreement (“Confidential Information”) confidential and must not use or disclose that Confidential Information without the prior written consent of the other Party except to the extent that: </p>
<ul>
<li> a) disclosure is required by law; </li> 
(<li>b) the relevant information is already in the public domain.</li>
</ul>  
<p>12.2 Notices. All notices and communications given under this Agreement must be in writing and will be delivered personally, sent by post or sent by email to the address or email address set out in the contact details of the Parties provided in this Agreement, or at such other address as notified from time to time by the Parties changing address. </p>
 
<br />
<p>13.   Governing Law and Jurisdiction </p> 
<p>13.1 This Agreement is governed by the laws of state New York, USA.  </p> 
<p>13.2 Any dispute arising in connection with this Agreement, which the Parties will not be able to resolve amicably, will be submitted to the exclusive jurisdiction of the courts of New York, USA. </p> 
 
<br />
<p>The Data Processor: ThingsBoard, Inc.</p>
<p>110 Duane Street, 1 C Suite, New York, NY, 10007 US</p>
<p>Data Protection Officer: CEO</p>
<p>Email: security@thingsboard.io</p>
 
 
 
</LegalLayout>
 
